/* Styles généraux */
.flex {
    display: flex;
}

.titre {
    color: #000000;
    position: fixed;
    top: 10vh; /* Utilise vh pour la position */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajuster pour centrer */
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto; /* Laisser la largeur auto */
    height: auto; /* Utilise auto pour la hauteur */
    font-size: 4vw; /* Utilise vw pour la taille de la police */
    text-align: center; /* Centrer le texte */
}

.accueil {
    background-color: rgb(233, 197, 197);
}

.logo1 {
    position: fixed;
    width: 35vw; /* Utilise vw pour la largeur */
    height: auto; /* Utilise auto pour la hauteur */
    top: 30vh; /* Utilise vh pour la position */
    left: 50%; /* Centrer horizontalement */
    transform: translateX(-50%); /* Ajuster pour centrer */
}

.header {
    width: 100vw; /* Utilise vw pour une largeur pleine */
    height: auto; /* Utilise auto pour la hauteur */
    flex-direction: column;
    position: fixed; /* Fixer la position pour les boutons */
    top: 0; /* Ajuster la position si nécessaire */
}

.menu-nav {
    display: flex; /* Ajoute display: flex pour les éléments de menu */
    flex-direction: row; /* Remet les boutons en ligne */
    justify-content: space-evenly;
    font-size: 3vw; /* Utilise vw pour la taille de la police */
    margin-top: 1vh; /* Utilise vh pour la marge */
    width: 100vw; /* Utilise vw pour la largeur */
}

.menu-nav li:hover {
    transform: scale(1.2); /* Transformation plus douce */
    transition: 0.5s;
}

li {
    list-style: none;
    display: inline-block;
}

.main {
    color: white;
    text-decoration: none;
}
